<div class="app">
  <form [formGroup]="myForm" novalidate>
  <section>
    <div class="page">
      <div class="inner">
        <header class="header">
          <div class="logo">
            <img src="assets/logo1.png" alt="">
          </div>
          <div class="title ">
            <h3>Miriam Vázquez Cázares</h3><br>
            <p>RFC: VACM820122H13 CURP: VACM820122MMNZZR09</p>
            <p>"Régimen de incorporación fiscal"</p><br>
            <p><b>Tel. 324 1696 / Cel. 4432099925</b></p>
          </div>
          <div class="budget">
            <table>
              <tr>
                <td id="budget">NOTA DE VENTA</td>
              </tr>

              <tr>
                <td id="_budg">
                  <input type="number">
                </td>
              </tr>
            </table>
            <img src="assets/full.PNG" style="width:100%; margin-top:2mm">
          </div>
        </header>
        <section class="content">
          <table id="tab1">
            <tr>
              <td>
                <span class="line">Expedido en Morelia Mich a: </span>
                <input id="date" type="text" class="left-aligned" value={{fecha}}>
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Nombre: </span>
                <input id="name" type="text" class="left-aligned">
              </td>
              <td>
                <span class="line">Unidad: </span>
                <input id="unit" type="text" class="left-aligned">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Domicilio: </span>
                <input id="adress" type="text" class="left-aligned">
              </td>
            </tr>
          </table>
          <table id="tab2">
            <tr>
              <td id="city">
                <span class="line">Ciudad: </span>
                <input id="cit" type="text" class="left-aligned">
              </td>
              <td id="city">
                <span class="line">RFC: </span>
                <input id="rfc" type="text" class="left-aligned">
              </td>
            </tr>
          </table>

          <section class="section2" formArrayName="units">
            <div class="table" id="main_table">
              <div class="tr thead">
                <div class="td">CANT.</div>
                <div class="td">DESCRIPCION</div>
                <div class="td">P.UNIT.</div>
                <div class="td">IMPORTE</div>
              </div>
          <!--    <div *ngFor="let unit of myForm.controls.units.controls; let i=index" class="tr" [formGroupName]="i">-->
              <div *ngFor="let unit of getControls(myForm, 'units'); let i=index" class="tr" [formGroupName]="i">
               <!-- <div [formGroupName]="i">-->
                  <div class="td"><input type="number" formControlName="qty" class="cantidad"></div>
                  <div class="td"><input type="text" class="descripcion"></div>
                  <div class="td"><input type="number" formControlName="price" class="punitario"></div>
                  <div class="td"><input formControlName="subtotal" class="importe"></div>
               <!-- </div>-->
              </div>

            </div>
            <div class="table" id="warranty">
              <div class="tr">
                <div class="td" id="_warr"><span>TODA REPARACIÓN TIENE GARANTÍA POR 60 DIAS EN MANO DE OBRA Y EN
                    REFACCIONES LA ESPECIFICADA POR EL FABRICANTE, SIEMPRE Y CUANDO NO MANIFIESTE MAL USO, NEGLIGENCIA O
                    DESCUIDO.</span></div>
                <div class="td">
                  <label for="total">TOTAL $</label>
                </div>
                <div class="td">
                  <input  class="_total" value="{{ total | currency:'USD':'symbol-narrow':'1.2-2'}}">
                </div>
              </div>
            </div>
          </section>
          <section class="section3">

            <div>
              <p id= "_subtitle"><b>CANTIDAD TOTAL CON LETRA</b></p>
              <table id="_total_letter">
                  <tr>
                    <td>                      
                      <input id="_number" type="text" class="left-aligned" value ="{{numero + ' pesos 00/100 MN'}}">
                    </td>
                  </tr>
              </table>
            </div>
          </section>

          <section id="_foot">
            <span>
              Pudenciano Dorantes 415 Col. Nueva Chapultepec C.P. 58218 Morelia, Mich.
            </span>
          </section>
        </section>
        <div class="no-print" id="printBtn" onclick="window.print()">
          <img src="assets/save.png" alt="" width="75" height="75">
        </div>
      </div>
    </div>
  </section>
  </form>
</div>